* {
    margin:0; 
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f2d9d8;
    margin:0;
    height: auto;
    font-family: 'Courier Prime', monospace;

}

main {
    max-width: 900px;
    margin: auto;
    background-color:  #581845;
}

#landingPage {
    height: 100vh;
}

#landingPage-text {
    width: 100%;
    height: 40%; 
    background-color: rgb(243, 220, 191);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
   
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 1em;
    border: 0.5px solid gray;
    
}

#landingPage-image {
    background-image: url("../img/japan.jpg");
    width: 100%;
    height: 60%;

}



#landingPage-innertext {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    
}
#landingPage-innertext h2{
    padding: 1rem;
}
#landingPage-innertext a{
    text-decoration: none;
    font-size: 1.5rem;
   
}

img {
    width: 100%;
}
#header {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}
.headline{
   /* background-color:  #581845 ; */
    color: white;
    text-align: center;
    
}

.headline h3 {
    padding-top: 1rem;
}
.headline p {
    padding: 1rem;
}
footer {
    max-width: 900px;
    background-color: tomato;
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: white;
    padding: 4rem 0 4rem 0;
   
  }

  footer h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  footer p {
      padding-bottom: 1rem;
  }

  footer a {
      text-decoration: none;
      color: greenyellow;
  }
  
  @media (min-width: 500px) {
    main {
        box-shadow: 30px 0px 40px rgba(78, 17, 17, 0.1), -30px 0px 40px rgba(78, 17, 17, 0.1);
    }
    #landingPage{
        display: flex;
    } 
    #landingPage-text {
        height: 100%;
        flex: 0 1 45vw;
        
    }
    #landingPage-image {
        height:100%;
        flex: 0 1 55vw;
    }
    #landingPage-innertext {
        margin-top: 100px;
    }

    #landingPage-innertext a:hover {
        font-size: 2rem;
        color: firebrick;
    }
    i {
        visibility: hidden;
    }
   
 }
