.todayweather {
    width: 50vw;
    display: flex;
    flex-direction: row;


    .left-side {
        width: 24vw;
        display: flex;
        flex-direction: row;
        font-size: 32px;
        

        img{
            width: 150px;
            height: 150px;
            background-size: 100%;
            background-size: cover; 
        }
    }
    .right-side {
        width: 24vw;
    }
}