.mainpage{
    width: 55vw;
    height: 55vh;
    background-color:#A9A0DE;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    align-items: center;
    border-radius:5px ;
   
}